.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  background-color: $white;
  padding: 2.4rem;
  border-radius: 1.2rem;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
  margin: 0 auto;
}

.cart-title {
  color: $red;
  @include subtitle;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hidden {
  display: none;
}

.footer__carbon {
  display: flex;
  gap: 0.8rem;
  background-color: $rose-50;
  border-radius: 0.8rem;
  padding: 1.6rem 2.3rem;
  @include body;

  span {
    @include strong;
  }
}

.cart__button {
  display: flex;
  justify-content: center;
}
