.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1000;

  cursor: pointer;
}

.modal__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;

  cursor: default;

  @include md {
    width: calc(100% - 8rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include xl {
    max-width: 59.2rem;
  }
}
