@mixin title {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.2;
}

@mixin subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
}

@mixin highlighted {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

@mixin p {
  font-size: 1.4rem;
  line-height: 1.5;
}

@mixin strong {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
}
